

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/product.css' %}">
    <title>Document</title>

 
 
</head>
<body>
    <table class="product-table">
      
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Price</th>
                <th>View Product</th>
                <th>Edit Product</th>
            </tr>
        </thead>
        <tbody>STATIC_URL = '/static/'
            {% for shopping in shoppings %}
            <tr>
                <td>{{ shopping.product_name }}</td>
                <td>{{ shopping.quantity }}</td>
                <td>{{ shopping.price}}</td>
                <td>{{ shopping.total_price}}</td>
                <td>
                    <a href="{% url 'cart_detail_view' id=product.id %}">View details</a>
                </td>
                <td>
                    <a href="{% url 'edit_cart_view' id=product.id %}">Edit cart</a>
                </td>
               
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



