<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/product.css' %}">
    <title>Document</title>

 
 
</head>
<body>
    <table class="product-table">
      
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone number</th>
                <th>Customer Details</th>
                <th>Edit Customer</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone_number}}</td>
                <td>
                    <a href="{% url 'customer_detail_view' id=customer.id %}">View customer</a>

                </td>
                <td>
                    <a href="{% url 'customer_edit_view' id=customer.id %}">Edit customer detail</a>
                    
                </td>
               
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>



